* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#343535;
    color:#ebebeb;
}

/* header style */
.container {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content:center;
    background-color: black;
    height:25vh;
     
}
.header {
    font-size:4rem;
    font-family: 'Courier New', Courier, monospace;
    margin-left: -50px;
    
}
.header h1 {
    margin-left: -50px;
}
.imgcontainer {
    width: 100px;
    height: 100px;
    margin-left: 20rem;
}
.imgcontainer img {
    width: 100%;
    border-radius:50%;
}


/*  main container style  */


.maincontainer {
    width: 50rem;
    height: 50vh;
    margin: 0 auto;
    background-color:green;

}




/* footer style */
.footer {
    font-size:1.8rem;
    margin-top:20px;
    text-align: center;
    background-color:black;
    height:5rem;
    line-height: 5rem;
    
}