* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#343535;
    color:#ebebeb;
}

/* header style */
.container {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content:center;
    background-color: black;
     
}
.header {
    font-size:4rem;
    font-family: 'Courier New', Courier, monospace;
    margin-left: -50px;
    
}
.header h1 {
    margin-left: -50px;
}
.imgcontainer {
    width: 100px;
    height: 100px;
    margin-left: 20rem;
}
.imgcontainer img {
    width: 100%;
    border-radius:50%;
}

/*  main container style  */
.maincontainer {
    width: 50rem;
    margin: 1rem auto;
    background-color:#343535;
    display: flex;
    flex-direction:column;
    justify-content: center;

}
.maincontainer .horend-items {
    margin-top: 1.2rem;
    border: 5px  #8f300e solid;
}
.maincontainer .horend-items img {
    width:100%;
    height: inherit;
    margin: 2rem 0;
}
.maincontainer .horend-items h2 {
    font-size:2rem;
    margin-top: 0.8rem;
    color: #d9643a;
    text-align:center;
}
.maincontainer .horend-items p {
    font-size:1.5rem;
    margin-bottom: 0.8rem;
    color: #d9643a;
    text-align:center;
}

/* footer style */
.footer {
    font-size:1.8rem;
    margin-top:20px;
    text-align: center;
    background-color:black;
    height:5rem;
    line-height: 5rem;
    
}